header {
    display: flex;
    justify-content: space-around;

}

header {
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

.map-box {
    display: flex;
    flex-direction: column;


    margin: 20px;
    gap: 20px;


}

.png {
    display: flex;
    flex-direction: row;




}

p {
    border: 2px solid black;
    background-color: #94BEE6
}

.box_info {
    width: 850px;
    height: 150px;
    background-color: #94BEE6;
    border: 2px solid black;
    padding: 50px;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;

}

.kontakt {
    font-size: larger;
    height: 20px;


}

.OSLObilde {
    display: flex;
    justify-content: end;
    order: 1;

}

.altinfo {}


.content-box p {
    border: 2px solid black;
    background-color: #94BEE6;
    padding: 10px;
}

.altinfo p {
    border: none;
    background-color: transparent;
    margin: 2px 0;


}

a {
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;

}

nav a:hover {
    color: lightgray;
}
style{
    box-sizing: border-box;
}

